$color-body: #050710;
$color-primary: #141730;
$color-add: #db4545;
$color-add-hover: #c91414;
$color-light: #fff;
$color-black: #000;
$color-dark: #1A1A18;
$color-text: #dfdfdf;
$color-number-title: #007474;
$color-bg-btn: #064c4c;
$color-bg-btn-hover: rgba(6, 108, 78, 0.85);
$color-correct: #0b5e0b;
$color-wrong: #e90303;
$color-modal-shadow: rgba(0, 0, 0, 0.9);
$color-bg-modal: #135858;
$color-bg-modal-btn: #d78816;
$color-bg-modal-btn-hover: #ff9900b4;
$color-cards: #f5f5dc;
$color-cards-hover: #c1c1a4;
$color-shutter: #064c4c;
$color-section-title: #a32323;

$color-header-bg: linear-gradient(180deg, (rgba(0, 0, 0, 0.7)) 0%, rgba(0, 0, 0, 0.4)100%);

$content-width: 144rem;
$laptop-small-correction: 1200px;
$laptop-small-change: 992px;
$tablet-width: 768px;
$tablet-small-width: 520px;
$mobile-big-width: 390px;
$mobile-small-width: 320px;